
*{box-sizing: border-box;
    
}
<<<<<<< HEAD

header img{
width: 100%;
height: 350px;
=======
header{
    margin: 0%;
    padding: 0%;
    background-color: papayawhip;
  line-height: 0px;

}
h1 {
    background-color: papayawhip;
    margin-top: 100px;
    padding: 0%;
    width: 100px;
    display: inline;
    line-height: 150px;
    margin-left: 550px;
    
    
    font-style: italic;
    text-align: center;
    font-size: 100px;
    
}

.hoursOpen{
    /* width: 200px;
    height:auto px; */
    text-align: right;
    font-size:medium;
    padding: 0%;
    /* list-style-type: none; */
   margin-bottom: 0px;
   
}
.home{
    float: right;
    margin-top:10px;
    margin-bottom: 300px;
    list-style-type: none;
    text-underline-position: below;
  line-height: 30px;
    background-color: cadetblue;
}
.adress{
    list-style-type: none;
    text-align: right;
    font-size:medium;
    margin-bottom: 20px;
    color:blue;
}
.information{
    list-style-type: none;
    text-align: right;
    font-size:medium;
    margin-bottom: 30px; 
    color: coral;
}
nav ul a {
    list-style-type: none; 
line-height: 0px;
padding: 10px;
/* overflow: hidden; */
text-decoration: none;
color: darkmagenta;
margin-bottom: 5px;
margin-top: 100px;

float: right;
color: rgb(7, 7, 7);
/* padding: 10px 30px 10px 10px; */
}
.pic1{
    width: 70%;
    height: 100%;
    display: inline-block;
    margin-top: 15px;
    float: left;
    margin-bottom: 15px;
    margin-left: 200px;
    border-radius: 50%;
    padding: 15px;
}
.pic2{
    
width: 70%;
height: 100%;
>>>>>>> master
display: inline-block;


}
header h1 {
    /* display: inline-block; */
    /* position: fixed; */
    text-align: center;
    color:mediumorchid;
margin-top: -200px;
margin-bottom: 0%;
font-size: 150px;
font-family: 'Yellowtail', cursive;
}
#nav  ul li{
  display: inline-block;
  padding: 10px;
  float: right;
  font-size: 20px;
  color: rgb(199, 83, 102);
  margin-bottom: 0px;
  margin-top: 8px;
}
#wlc{
    margin-left: 370px;
    text-align: center;
<<<<<<< HEAD
    color: gray;
    font-size: 10px;
    margin-top: -45px;
    font-family: 'Francois One', sans-serif;
    margin-bottom: 0px

}
#enjoy{
 float: right;
 /* line-height: 70px; */
 width: 600;

}

    #open{
float: left;


margin-top: 20px;

}
    #main2{
    margin-left: 400px;
   margin-right: 300px;
}
    footer img {
    width: 100%;
height: 350px;
=======
    display: inline-block;
    margin-bottom: 100px;
    text-decoration: none;
    margin-left: 20px;
}
/* nav ul li {
    line-height: 0px;
list-style-type: none;
box-sizing: border-box;
float: right;
color: rgb(7, 7, 7);
margin-bottom: 10px;
margin-top: 30px;
padding: 10px 30px 10px 10px;
} */
.foter{
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
box-sizing: border-box;
clear: both;
text-align: center;
>>>>>>> master
display: inline-block;
margin-bottom:0px ;
}
    footer h2 {
    /* display: inline-block; */
    /* position: fixed; */
    text-align: center;
    color:mediumorchid;
margin-bottom: 0px%;
font-size: 40px;
font-family: 'Francois One', sans-serif;
margin-top:-300px;
    }
    #plac{
    margin-top:-400px;
    margin-left: 10px;
}
    #plac ul li {
    color: yellowgreen;
    font-size: 30px;

}
    #plac p{
    color: black;
    font-size:47px ;
}
    #adress{
    float: right;
    color: yellowgreen;
    font-size: 20px;
    margin-top:-200px;
    margin-right: 30px;
}
#Home ul li a {
    
    /* display: inline-block; */
    padding: 10px;
    float: left;
    font-size: 20px;
    color: rgb(199, 83, 102);
    margin-bottom: 0px;
    margin-top: -10px;
    margin-right: 20px;
    list-style:none;
}
#newForm{
    font-size: 20px;
    color: chartreuse;
    margin-bottom: 20px;
}
table{
    color: purple;
    font-size: 20px;
    margin-left: 350px;
}


















