
*{box-sizing: border-box;
}
header{
    margin: 0%;
    padding: 0%;
    background-color: papayawhip;
  line-height: 0px;

}
h1 {
    background-color: papayawhip;
    margin-top: 100px;
    padding: 0%;
    width: 100px;
    display: inline;
    line-height: 150px;
    margin-left: 550px;
    
    
    font-style: italic;
    text-align: center;
    font-size: 100px;
    
}

.hoursOpen{
    /* width: 200px;
    height:auto px; */
    text-align: right;
    font-size:medium;
    padding: 0%;
    /* list-style-type: none; */
   margin-bottom: 0px;
   
}
.home{
    float: right;
    margin-top:10px;
    margin-bottom: 300px;
    list-style-type: none;
    text-underline-position: below;
  line-height: 30px;
    background-color: cadetblue;
}
.adress{
    list-style-type: none;
    text-align: right;
    font-size:medium;
    margin-bottom: 20px;
    color:blue;
}
.information{
    list-style-type: none;
    text-align: right;
    font-size:medium;
    margin-bottom: 30px; 
    color: coral;
}
nav ul a {
    list-style-type: none; 
line-height: 0px;
padding: 10px;
/* overflow: hidden; */
text-decoration: none;
color: darkmagenta;
margin-bottom: 5px;
margin-top: 100px;

float: right;
color: rgb(7, 7, 7);
/* padding: 10px 30px 10px 10px; */
}
.pic1{
    width: 70%;
    height: 100%;
    display: inline-block;
    margin-top: 15px;
    float: left;
    margin-bottom: 15px;
    margin-left: 200px;
    border-radius: 50%;
    padding: 15px;
}
.pic2{
    
width: 70%;
height: 100%;
display: inline-block;
margin-top: 15px;
float: left;
margin-bottom: 15px;
margin-left: 200px;
border-radius: 50%;
padding: 15px;
}
p{
    box-sizing: border-box;
    clear: both;
    font-size: x-large;
    text-align: center;
    display: inline-block;
    margin-bottom: 100px;
    text-decoration: none;
    margin-left: 20px;
}
/* nav ul li {
    line-height: 0px;
list-style-type: none;
box-sizing: border-box;
float: right;
color: rgb(7, 7, 7);
margin-bottom: 10px;
margin-top: 30px;
padding: 10px 30px 10px 10px;
} */
.foter{
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
box-sizing: border-box;
clear: both;
text-align: center;
display: inline-block;
margin-bottom: 100px;
color: purple;
font-size: xx-large;
text-decoration: none;
}
footer {
box-sizing: border-box;
background-color: papayawhip;
text-align: center;
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
margin-top: 10px;
}
main{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgb(218, 195, 195);
}